:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --additional-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  cursor: pointer;
}

/* Header */
.page-header {
  border-bottom: 1px solid #ececec;
}
.header {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 93px;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-family: "Raleway", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 30.52px;
  text-decoration: none;
}

.logo-accent {
  color: var(--accent-color);
}

.header-nav-list {
  display: flex;
}

.header-nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-nav-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link.current {
  color: var(--accent-color);
}

.header-nav-link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;

  transform: translateY(1px);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}

.auth-list {
  display: flex;
  margin-left: auto;
}

.auth-item:not(:last-child) {
  margin-right: 30px;
}

.header-icon-link {
  margin-right: 10px;
  padding-top: 32px;
  padding-bottom: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: var(--secondary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon-link:hover,
.header-icon-link:focus {
  color: var(--accent-color);
}

.header-icon {
  fill: currentColor;
}

/* Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.png");
  background-color: #c4c4c4;
  text-align: center;
}

.hero-title {
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--additional-color);
}

.hero-btn {
  padding: 10px 32px;
  min-width: 216px;

  color: var(--additional-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: var(--accent-color);
  border-radius: 4px;
  border: 0;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  outline: transparent;
}

.hero-btn:hover,
.hero-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Features */
.features-list {
  display: flex;
}

.features-item {
  flex-basis: calc((100% - 90px) / 4);
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-icon {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  background-color: var(--secondary-bg-color);
  border-radius: 4px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.features-icon:hover,
.features-icon:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.features-item-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-item-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-color);
}

/* Works */
.works {
  padding-top: 0;
}

.works-list {
  display: flex;
}

.works-item {
  flex-basis: calc((100% - 30px * 2) / 3);
}

.works-item:not(:last-child) {
  margin-right: 30px;
}

.works-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.works-wrapper {
  position: relative;
}

.works-description {
  width: 100%;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  background: rgba(47, 48, 58, 0.8);
}

.works-text {
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  color: var(--additional-color);
  text-transform: uppercase;
}

/* Team */
.team {
  background-color: var(--secondary-bg-color);
}

.team-list {
  display: flex;
}

.team-item {
  flex-basis: calc((100% - 90px) / 4);

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-description {
  padding-top: 30px;
  /* padding-bottom: 30px; */
  margin-bottom: 16px;

  text-align: center;
}

.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team-item-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-item-text {
  color: var(--secondary-color);
  line-height: 1.19;
}

.socials {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.socials-item {
  /* flex-basis: calc((100% - 30px) / 4); */
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-link {
  /* padding: 12px; */

  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  color: #afb1b8;
  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
  color: #fff;
  background-color: #2196f3;
  border-radius: 50%;
}

.socials-icon {
  fill: currentColor;
}

/* Clients */
.clients-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.clients-link {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-icon {
  fill: currentColor;
}

/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background: #2f303a;
}

.footer-wrapper {
  display: flex;
  align-items: baseline;
}

.footer-left {
  margin-right: 70px;
  width: 231px;
}

.footer-right {
  margin-right: 93px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  color: var(--additional-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.adress-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-link-maps {
  color: var(--additional-color);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
}

.address-link {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}

.footer-right {
  margin-right: 93px;
}

.footer-strong {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: #fff;
}

.footer-socials {
  padding: 0;
}

.footer-socials-item {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-socials-link {
  color: #fff;
}

.footer-icon {
  fill: currentColor;
}

.footer-form-title {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);

  text-transform: uppercase;
  color: var(--additional-color);
}

.footer-form-email {
  width: 358px;
  padding: 15px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: #fff;

  outline: transparent;
}

.footer-form-email::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-btn {
  min-width: 200px;
  min-height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  outline: transparent;
}

.footer-form-btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-btn-text {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--additional-color);
}

.footer-form-field {
  display: flex;
  gap: 12px;
}

/* Projects */

.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-item:not(:last-child) {
  margin-right: 8px;
}

.projects-btn {
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background: var(--secondary-bg-color);
  border-radius: 4px;
  border: 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-btn:hover,
.projects-btn:focus {
  color: var(--additional-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.projects-item {
  flex-basis: calc((100% / 3 - 30px));
  margin-left: 30px;
  margin-top: 30px;

  background: var(--additional-color);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* overlay */

.projects-thumb {
  position: relative;

  overflow: hidden;
}

.projects-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  padding: 63px 24px;
  width: 100%;

  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--additional-color);
}

.projects-item:hover .projects-overlay {
  transform: translateX(0);
}
/* overlay end */

.projects-description {
  padding: 20px 24px;

  /* border: 1px solid #eeeeee; */
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.projects-item-link {
  text-decoration: none;
}

.projects-item:hover,
.projects-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-item-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  text-decoration: none;
}

.projects-item-text {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
  text-decoration: none;
}

/* Modal window */

.modal {
  padding: 40px;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  min-height: 581px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 30px;
  width: 30px;
  padding: 0;

  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  fill: #2196f3;
}

/* MODAL FORM */
.form-title {
  display: block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
}

.form-field {
  /* position: relative; */

  display: flex;
  flex-direction: column;
  gap: 0;

  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  height: 40px;

  box-sizing: border-box;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding: 12px 42px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  outline: transparent;
  border-color: var(--accent-color);
}

.form-field:focus-within .form-icon {
  fill: var(--accent-color);
}

.form-label {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;

  margin-bottom: 4px;
}

.input-wrapper {
  position: relative;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-textarea:focus {
  outline: transparent;
  border-color: var(--accent-color);
}

.agreement {
  display: flex;
  gap: 8px;
  padding-left: 10px;
  align-items: center;

  margin-bottom: 30px;
}

.agreement-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 16px;
  height: 15px;
  border: 1px solid var(--main-color);
  border-radius: 2px;

  outline: transparent;
}

.agreement-input:checked {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url("../images/icon-check.svg");
  background-position: center;
  background-size: contain;
}

.agreement-label {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: #757575;

  user-select: none;
}

.agreement-link {
  color: var(--accent-color);
}

.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 52px;
  min-width: 200px;
  height: 50px;
  margin: 0 auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--additional-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  outline: transparent;
}

.modal-btn:hover,
.modal-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
